  <!-- Start .testimonials-section -->
		<div class="testimonials-section" id="reviews">
			<div class="container">
				<div class="section-head">
					<div class="row">
						<div class="col-md-12">
							<h4>DIRECTORY</h4>
							<!--<p class="lead">take it from our amaging customers</p>-->
						</div>
					</div>
				</div><!-- .section-head -->
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<h5>PRODUKSI</h5>
						<ul>
							<li><a href="">Konveksi CMT</a></li>
							<li><a href="">Konveksi FOB</a></li>
							<li><a href="">Konveksi TAS</a></li>
							<li><a href="">Toko Bahan</a></li>
							<li><a href="">Toko Bahan Jeans</a></li>
							<li><a href="">Garmen</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-4">
						<h5>DISTRIBUSI</h5>
						<ul>
							<li><a href="">Online Shop</a></li>
							<li><a href="">Distro Mall</a></li>
							<li><a href="">Distro Jakarta</a></li>
							<li><a href="">Export Logistik</a></li>
							<li><a href="">Toko Bahan Jeans</a></li>
							<li><a href="">Garmen</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-4">
						<h5>AKTIVASI</h5>
						<ul>
							<li><a href="">Buat Website</a></li>
							<li><a href="">Photo Produk</a></li>
							<li><a href="">Photo Lookbook</a></li>
							<li><a href="">Iklan Facebook</a></li>
							<li><a href="">Iklan Instagram</a></li>
						</ul>
					</div>	
				</div>
			</div>
		</div>