  		<!-- Start #directory-section -->
		<section id="directory-section">
			<div class="container bt-blue">
				<div class="section-head">
					<div class="row">
						<div class="col-md-12">
							<h4><i class="icofont-direction-sign"></i> DIRECTORY</h4>
							<p>Kumpulan vendor yang mungkin anda butuhkan untuk memulai usaha di bidang fashion pria.</p>
						</div>
					</div>
				</div><!-- .section-head -->
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<h5>PRODUKSI</h5>
						<ul>
							<li><a href="">Konveksi CMT</a></li>
							<li><a href="">Konveksi FOB</a></li>
							<li><a href="">Konveksi Sablon</a></li>
							<li><a href="">Konveksi Seragam</a></li>
							<li><a href="">Konveksi Tas</a></li>
							<li><a href="">Toko Bahan</a></li>
							<li><a href="">Toko Bahan Seragam</a></li>
							<li><a href="">Toko Bahan Jeans</a></li>
							<li><a href="">Tempat Bordir</a></li>
							<li><a href="">Garmen</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-4">
						<h5>DISTRIBUSI</h5>
						<ul>
							<li><a href="">Online Shop</a></li>
							<li><a href="">Marketplace</a></li>
							<li><a href="">Distro Mall</a></li>
							<li><a href="">Distro</a></li>
							<li><a href="">Export Logistik</a></li>
							<li><a href="">Import Forwarder</a></li>
							<li><a href="">Garmen</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-4">
						<h5>AKTIVASI</h5>
						<ul>
							<li><a href="">Buat Website</a></li>
							<li><a href="">Photo Produk</a></li>
							<li><a href="">Photo Lookbook</a></li>
							<li><a href="">Iklan Facebook</a></li>
							<li><a href="">Iklan Instagram</a></li>
							<li><a href="">Iklan Google</a></li>
							<li><a href="">Iklan Youtube</a></li>
							<li><a href="">Endorsement</a></li>
							<li><a href="">Paid Promote</a></li>
						</ul>
					</div>	
				</div>
			</div>
		</section>