<!-- Start .footer-section -->
		<div class="footer-section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h5>Maskoolin</h5>
						<p>
							PT Rocktokom Ritel Busana<br>Intermak Building BSD, Tangerang Selatan, Indonesia.<br><a href="https://web.whatsapp.com/send?phone={{site.wa}}&text=Halo, saya ingin memulai bisnis di bidang fashion pria.">(+62) 838-9072-2797</a>
						</p>
					</div>					
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- Start .footer-section -->
