<!-- Start .footer-section -->
		<div class="footer-section">
			<div class="container">
				<div class="row">			
					<div class="col-md-4 col-xs-12">
						<div class="footer-address">
							<h6 class="fa-title">Who we are</h6>
							<div class="address-list">
								<div class="row">
									<div class="col-xs-12">
										<div class="single-address">
											<h6>Jakarta HQ</h6>
											<ul>
												<li>Jl K.18, Kb. Baru, Tebet</li>
												<li>Jakarta Selatan, DKI Jakarta </li>
												<li>(+62)21 2854 1245 </li>
											</ul>
											<a href="#">Locate on map<i class="icofont icofont-long-arrow-right"></i></a>
										</div>
									</div>
								</div><!-- .row -->
							</div><!-- .address-list -->
						</div><!-- .footer-address -->
					</div><!-- .col -->
					
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- Start .footer-section -->
