		<!-- Start .header-section -->
		<div class="header-section parallax" id="header">
			<div class="overlay zero">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="header-texts">
								<h1>Directory Usaha Industri Fashion Pria Indonesia</h1>
								<a href="https://web.whatsapp.com/send?phone={{site.wa}}&text=Halo, saya ingin memulai bisnis di bidang fashion pria." class="button">Saya baru mulai <i class="icofont-swoosh-right"></i></a>
							</div>
						</div>
						<!-- .col -->
						<div class="col-md-6">
							<img class="img-responsive" src="{{site.baseurl}}/uploads/memulai-usaha-fashion-pria.png" />
						</div>
					</div><!-- .row -->
				</div><!-- .container -->
			</div><!-- .overlay -->
		</div><!-- .header-section -->

		<!-- Start .process-section -->
		<div class="process-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-process">
							<i class="icofont-industries-2"></i>
							<h6>Produksi</h6>
							<p>At first choose the place you always wanted to go.</p>
						</div>
					</div><!-- .col -->
					<div class="col-md-4 col-sm-6">
						<div class="single-process">
							<i class="icofont-prestashop"></i>
							<h6>Distribusi</h6>
							<p>CHAT with us, then book your trip from our exclusive offers.</p>
						</div>
					</div><!-- .col -->
					<div class="col-md-4 col-sm-6">
						<div class="single-process">
							<i class="icofont-runner-alt-1"></i>
							<h6>Aktivasi</h6>
							<p>Take your flight and enjoy paradise on earth.</p>
						</div>
					</div><!-- .col -->
					<div class="col-md-4 col-sm-6 clearfix">
						<div class="single-process">
							<i class="icofont-instrument"></i>
							<h6>Edukasi</h6>
							<p>At first choose the place you always wanted to go.</p>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .process-section -->	
