  		<!-- Start #edukasi-section -->
		<section id="welcome-section">
			<div class="container">
				<div class="section-head">
					<div class="row">
						<div class="col-md-12">
							<h4><i class="icofont-instrument"></i> MULAI DARI SINI</h4>
							<p><strong>Bingung mulai dari mana?</strong> Kami tahu bagaimana sulit dan bingung-nya memulai usaha di industri fashion dan garment. Industri ini sangat kompetitif dan dinamis, tanpa persiapan yang matang baik dari sisi pengetahuan ataupun praktek sangat sulit untuk bertahan.</p>
							<p><strong>Kami membagi laman ini menjadi beberapa segmen,</strong> jika anda sudah memiliki pengetahuan sebelumnya dan ingin langsung terjun langsung. Silahkan kunjungi segment <a href="">DIREKTORI</a> untuk melihat vendor yang mungkin cocok dengan kebutuhan anda, dengan satu sentuhan anda akan tersambung langsung ke WA vendor tersebut.</p>
							<p>Jika anda merasa sangat baru silahkan anda ikuti step by step di segment <a href="">EDUKASI</a> kami untuk memahami dan mempelajari lebih lanjut mengenai dunia fashion.</p>
							<p>Jika anda butuh pendampingan lebih profesional silahkan menuju segmen <a href="">KONSULTASI</a>.</p>
						</div>
					</div>
				</div><!-- .section-head -->
			</div>
		</section>