  		<!-- Start #edukasi-section -->
		<section id="welcome-section">
			<div class="container bt-blue">
				<div class="section-head">
					<div class="row">
						<div class="col-md-12">
							<h4><i class="icofont-instrument"></i> MULAI DARI SINI</h4>
							<p><strong>Bingung mulai dari mana?</strong> Kami tahu bagaimana sulit dan bingung-nya memulai usaha di industri fashion dan garment. Industri ini sangat kompetitif dan dinamis, tanpa persiapan yang matang baik dari sisi pengetahuan ataupun praktek sangat sulit untuk bertahan.</p>
							<p>Kami membagi laman ini menjadi beberapa segmen, jika anda sudah memiliki pengetahuan sebelumnya dan ingin langsung terjun langsung. Silahkan kunjungi directori kami untuk melihat vendor yang mungkin cocok dengan kebutuhan anda, dengan satu sentuhan anda sudah akan tersambung ke WA vendor tersebut.</p>
							<p>Jika anda merasa sangat baru silahkan anda ikuti step by step guidance kita untuk memahami lebih lanjut mengenai dunia fashion.</p>
							<p>Jika anda butuh pendampingan lebih profesional silahkan menuju segmen konsultasi.</p>
						</div>
					</div>
				</div><!-- .section-head -->
			</div>
		</section>